body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Darker text color */
}

.container {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  margin-bottom: 2em;
}

.home,
.locator,
.device-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 1em;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Additional styling for icons */
.icon {
  width: 50px; /* Adjust icon size */
  height: 50px; /* Adjust icon size */
  margin-right: 0.5em;
}

